.profile-body{
    width: 60%;
    margin-top: 2%;
    margin-left: 10%;
    border-radius: 25px;
    opacity: 0.8;
}

.profile-content{
    
    padding: 5%;
    margin-left: 2%;

}
.profile-button{
    margin-top: 5%;
    margin-left: 90%;
}
.profile-header{
    font-family: "Times New Roman", Times, serif;
    color: blue;
    font-weight: 900;
    text-decoration: underline;
}